{% extends 'klantpagina.twig' %}

{% block content %}

    <div class="wrapper row">
    <div class="small-12 medium-12 column">

        <table class="table unstriped">
            <th><h4>Persoonlijke gegevens</h4></th>
            <tr>
                <td>Klantnr</td>
                <td>Voornaam</td>
                <td>Naam</td>
                <td>Straat</td>
                <td>Postcode</td>
                <td>Gemeente</td>
                <td>Email</td>
            </tr>

                <tr>
                    <td>{{ klant.klantnr}}</td>
                    <td>{{ klant.voornaam}}</td>
                    <td>{{ klant.naam}}</td>
                    <td>{{ klant.straat}}</td>
                    <td>{{ klant.postcode}}</td>
                    <td>{{ klant.gemeente }}</td>
                    <td>{{ klant.email }}</td>
                </tr>

        </table>
    </div>
    </div>
{% endblock content %}