{% extends 'klant/klantpagina.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/lijst.css">

{% endblock stylesheets %}
{% block content %}
    <section class="content">
        <div class="wrapper row">
            <div class="small-6 medium-3 column">
                <ul class="menucat ">
                    {% for categorie in categorielijst %}
                    <li><a href="{{ categorie.categorie }}">{{ categorie.categorie|upper }}</a></li>
                        {% endfor %}
                </ul>
                {#<table class="table unstriped">#}
                    {#<th><h4>Categorie</h4></th>#}
                    {#{% for categorie in categorielijst %}#}
                        {#<tr>#}
                            {#<td><a href="{{ categorie.categorie }}" >{{ categorie.categorie|upper }}</a></td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                {#</table>#}

            </div>
            <div class="small-6 medium-5 column">
                <table class=" table unstriped ">
                    <th><h4>Producten</h4></th>
                    {% for product in producten %}
                        <tr>
                            <td>{{ product.productnaam }}</td>
                            <td>{{ product.eenheidsprijs }} €</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="medium-4 column"></div>

            </div>
        <br><br><br><br>
        <div class="wrapper row">
         <div class="small-12 medium-12 column">
             <button type="submit" class="button expanded text-right middle registreer">
                 <a href="/klant/registreer/">Nog geen klant? Registreer u nu GRATIS!</a>
             </button>
        </div>
        </div>
    </section>
{% endblock content %}