{% extends 'klant/klantpagina.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/lijst.css">

{% endblock stylesheets %}
{% block content %}

    <section class="content">
        <div class="wrapper row">
            <div class="small-6 medium-2 column">
                <ul class="menucat ">
                    {% for categorie in categorielijst %}
                    <li><a href="{{ categorie.categorie }}">{{ categorie.categorie|upper }}</a></li>
                        {% endfor %}
                </ul>
            </div>
            <div class="small-6 medium-10 column">


                <form action="#"method="post">
                    <table class="table unstriped">
                    <th><h4>Producten</h4></th>
                        <tr>
                        <td>Product</td>
                        <td>Prijs</td>
                        <td>Aantal</td>
                        </tr>
                    {% for product in producten %}
                    <tr>
                        <td><input type="text" name="product" disabled value="{{ product.productnaam }}"></td>
                        <td><input type="number" name="prijs" disabled value="{{ product.eenheidsprijs }}"></td>
                        <td><input type="number" name="aantal"  placeholder="aantal"></td>
                        <td align="right">
                          <button class="button registreer" type="button">
                              <a href="/bestelling/winkelmandje/">Bestel</a>
                          </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}

