{% extends 'klant/admin_index.twig' %}

{% block content %}
    <section class="content">
        <div class="wrapper row">
            <div class="small-12 medium-3 column">
                <table class="table unstriped">
                    <th><h4>Categorie</h4></th>
                    {% for categorie in categorielijst %}
                        <tr>
                            <td><a href="/product/lijst/cat/{{ categorie.catnr }}" >{{ categorie.categorie|upper }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {#<div class="menu-left">#}
                    {#<ul class="menu vertical">#}
                        {#{% for categorie in categorielijst %}#}
                            {#<li><a href="/product/lijst/cat/{{ categorie.catnr }}" >{{ categorie.categorie|upper }}</a></li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#</div>#}
            </div>
            <div class="small-12 medium-4 column">
                <table class=" table unstriped ">
                    <th><h4>Producten</h4></th>
                    {% for product in producten %}
                        <tr>
                            <td>{{ product.productnaam }}</td>
                            <td align="right">
                                <a href="/admin/product/edit/{{ product.productnr }}/"><button class="button primary {{ product.productnr}}">edit</button></a>
                                <a href="/admin/product/delete/{{ product.productnr }}/"><button class="button warning">delete</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="small-12 medium-4">
            </div>
        </div>
       <div class="wrapper row">
           <div class="small-12 medium-2">
               <a href="/admin/product/add/"><button class="button success">Nieuw product</button></a>
           </div>
           <div class="small-12 medium-10"></div>
       </div>

    </section>
{% endblock content %}