{% extends 'klant/klantpagina.twig' %}

{% block content %}
<section class="content">

    <div class="wrapper row">
    <div class="small-12 medium-6 column">
        <table class="table">
            <th><h4>Mijn bestelling</h4></th>

            {% for wm in winkelmandje %}
                <tr id="{{ wm.productnr }}">
                    <td>{{ wm.aantal }}</td>
                    <td>{{ wm.naam}}</td>
                    <td>X</td>
                    <td>{{ wm.prijs}}</td>
                    <td>=</td>
                    <td>{{ wm.totaal }} €</td>
                </tr>
            {% endfor %}
        </table>
        <label for="wmTotaal">Totaal:
            <input type="text" name="wmTotaal" value="{{ wmTotaal }} €">
        </label>
        <button class="button primary">
            <a href="/klant/klantpagina/">Nog iets vergeten of iets wijzigen?</a>
        </button>
    </div>

        <div class="small-6 medium-6 column">
            <h4>Bijkomende gegevens:</h4>
            <label for="dtmBestel">Kies een afhaaldatum.</label>
            <input type="text" id="afhaaldatum"></p>
            <button class="button primary">
                <a href="/bestelling/bevestiging/">Bestellen/Betalen</a>
            </button>
        </div>

    </div>
</section>
{% endblock content %}